/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '~ngx-toastr/toastr';
@import '~bootstrap/dist/css/bootstrap.min.css';
/* @import '~ngx-toastr/toastr.css'; */
.mat-tab-body-content {
    height: 100%;
    overflow: hidden !important;
}
.mat-form-field{
    width: 100% !important;
}
.mat-tab-labels{
    border: 1px solid black !important;
    border-radius: 25px !important;
    /* background-color: rgb(128,93, 200) !important; */
}
  html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}  
.mat-tab-label-content{
    color: black;
    font-size: 14px;
}
.mat-tab-label-active{
    background-color: rgb(128,93, 200) !important;
    border-radius: 25px !important;
    color: white !important;
    opacity: 1 !important;
}
.mat-tab-label-active .mat-tab-label-content{
    color: white !important;
}

.mat-tab-label-active:hover{
    text-decoration: none;
    opacity: 0.85 !important;
}
.navigateNextIcon{
    background-color: rgb(128,93, 200);
    color: white;
    border-radius: 50%;
    padding: 5px 5px 5px 6px;
    font-size: 2.1em;
    cursor: pointer;
}
.navigateNextIcon:hover{
    opacity: 0.85;
}
.mat-form-field-infix{
    font-size: 14px !important;
}
.text-align{
    text-align: center;
}
.invalidStatus{
    color: red;
    font-weight: normal;
    font-size: 12px;
    margin-top: -16px;
}
.profileText label{
    font-size: 11px;
    margin-bottom: 0px;
}
.mt30{
    margin-top: 30px;
}
.mat-menu-content:not(:empty) {
    padding-top: 0px !important; 
    padding-bottom: 0px !important; 
}
.form-control{
    outline: 0;
    border-width: 0 0 1px;
    border-color: #495057;
    border-radius: 1px;
}
.form-control:focus{
    color: #495057;
    outline: 0;
    border-width: 0 0 1px;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 8px 6px -6px rgba(0,123,255,.25);
}
.fieldError{
    border-color: red;
    box-shadow: 0 8px 6px -6px rgba(214, 50, 50, 0.25);
}
.width100{
    width: 100%;

}
.btn-danger {
    color: #fff;
    background-color: rgb(128,93, 200);
    border-color: rgb(128,93, 200);
    border-radius: 25px;
    padding: 6px 6rem;
}
.btn-danger:hover{
    background-color: rgb(128,93, 200);
    border-color: rgb(128,93, 200);
}
.btn-danger.disabled, .btn-danger:disabled {
    color: #fff;
    background-color: rgb(128,93, 200);
    border-color: rgb(128,93, 200);
    border-radius: 25px;
    padding: 6px 6rem;
}
.background{
    padding: 20px 30px;
    background: #fff;
    border-radius: 5px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-radius: 25px;
    background: rgb(128,93, 200);
    color: white;
}
.nav-tabs{
    border: 1px solid black;
    border-radius: 25px;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    font-size: 14px;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 11px 6px;
    font-size: 14px;
}
table.dataTable.no-footer {
    background-color: white;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: white;
    cursor: pointer;
}
